{% extends 'tweet/base.html' %}
{% load static %}

{% block content %}
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top: 10px;">    
  <!-- The Grid -->
  <div class="w3-row">

    <!-- Left Column -->
    <div class="w3-col m3">
      {% block profile-section %} {% endblock %}

      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
          <div id="Demo3" class="w3-hide w3-container">
          <div class="w3-row-padding">
          <br>
            <div class="w3-half">
              <img src="{% static 'tweet/images/lights.jpg' %}" style="width:100%" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="{% static 'tweet/images/nature.jpg' %}" style="width:100%" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="{% static 'tweet/images/mountains.jpg' %}" style="width:100%" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="{% static 'tweet/images/forest.jpg' %}" style="width:100%" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="{% static 'tweet/images/nature.jpg' %}" style="width:100%" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="{% static 'tweet/images/snow.jpg' %}" style="width:100%" class="w3-margin-bottom">
            </div>
          </div>
          </div>
        </div>      
      </div>
      <br>
    
      <!-- Interests --> 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          </p>
        </div>
      </div>
      <br>
      
      <!-- Alert Box -->
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div>

    <!-- End Left Column -->
    </div>
    
    <div class="w3-col m7">
    <!-- Middle Column -->
    
    {% block create-tweet %} {% endblock %}
    
      <div class="infinite-container">
        {% for object in tweets %}
          <div class="infinite-item w3-container w3-card w3-white w3-round w3-margin"><br>
            <img src="{{ object.author.profile.image.url }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height: 60px;">
            <span class="w3-right w3-opacity">{{ object.date_posted }}</span>
            <a href="{% url 'user-tweets' object.author.username %}" ><h4>{{ object.author }}</h4></a>
            <br>
            <hr class="w3-clear">
            <div class="detailTweet" onclick="openDetailTweet('{{ object.get_absolute_url }}')">
              <p>{{ object.text }}</p>
              {% if object.image %}
                <img src="{{ object.image.url }}" style="width:100%" class="w3-margin-bottom">
              {% endif %}
              
            </div>
            <p id="likeCount-{{object.id}}" class="link text-muted" onclick="getUsersWhoLiked('{{ object.get_absolute_url }}')"
            data-toggle="modal" data-target="#myModal">{{ object.get_likes_count }} likes</p>
            {% if object.author == user %}
              <a type="button" class="w3-button w3-theme-d1 w3-margin-bottom" href="{% url 'tweet-update' object.id %}"> Update</a> 
              <a type="button" class="w3-button w3-theme-d2 w3-margin-bottom" href="{% url 'tweet-delete' object.id %}"> Delete</a> 
            {% else %}
              {% if object.id in is_liked %}
                <a type="button" id="likeButton-{{object.id}}" onclick="likeTweet('{{ object.get_absolute_url }}')" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-down"></i>  Unlike</a> 
              {% else %}
                <a type="button" id="likeButton-{{object.id}}" onclick="likeTweet('{{ object.get_absolute_url }}')" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</a> 
              {% endif %}
              <a type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    
      {% if is_paginated and page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
        <div class="d-flex justify-content-center" style="display:none;">
          <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
          </div>
        </div>
      {% endif %}

      

    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <hr class="w3-clear">

          <div>
              <p><strong>Session</strong></p>
              <p>Tuesday 15:00</p>
              <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
          </div>
          <hr class="w3-clear">

          <div>
              <p><strong>Concert</strong></p>
              <p>Friday 19:00</p>
              <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
          </div>
          
        </div>
      </div>
      <br>

      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Who to follow</p>
          <img src="{% static '/tweet/images/avatar6.png' %}" alt="Avatar" style="width:50%"><br>
          <span>Jane Doe</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>
    
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

<!-- End Page Container -->
</div>
<br>
{% endblock content %}
