{% extends 'tweet/base.html' %}
{% load static %}

{% block content %}
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top: 10px;">    
  <!-- The Grid -->
  <div class="w3-row">

    <!-- Left Column -->
    <div class="w3-col m3">

      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
          <div id="Demo3" class="w3-hide w3-container">
          <div class="w3-row-padding">
          <br>
            <div class="w3-half">
              <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="/w3images/snow.jpg" style="width:100%" class="w3-margin-bottom">
            </div>
          </div>
          </div>
        </div>      
      </div>
      <br>
    <!-- End Left Column -->
    </div>
        
    <!-- Middle Column -->
    <div class="w3-col m7">
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding" >
              <p onclick="openCreateTweet()" contenteditable="true" class="w3-border w3-padding">Status: Feeling Blue</p>
              <a type="button" class="w3-button w3-theme" href="{% url 'tweet-create' %}" ><i class="fa fa-pencil"></i>  Post</a> 
            </div>
          </div>
        </div>
      </div>

      <div class="infinite-container">
        {% for object in tweets %}
          <div class="infinite-item w3-container w3-card w3-white w3-round w3-margin"><br>
            <img src="{{ object.author.profile.image.url }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height: 60px;">
            <span class="w3-right w3-opacity">{{ object.date_posted }}</span>
            <a href="{% url 'user-tweets' object.author.username %}" ><h4>{{ object.author }}</h4></a>
            <br>
            <hr class="w3-clear">
            <div class="detailTweet" onclick="openDetailTweet('{{ object.get_absolute_url }}')">
              <p>{{ object.text }}</p>
              {% if object.image %}
                <img src="{{ object.image.url }}" style="width:100%" class="w3-margin-bottom">
              {% endif %}
              <p id="likeCount-{{object.id}}" class="text-muted">{{ object.get_likes_count }} likes</p>
            </div>
            {% if object.author == user %}
              <a type="button" class="w3-button w3-theme-d1 w3-margin-bottom" href="{% url 'tweet-update' object.id %}"> Update</a> 
              <a type="button" class="w3-button w3-theme-d2 w3-margin-bottom" href="{% url 'tweet-delete' object.id %}"> Delete</a> 
            {% else %}
              {% if is_liked[object.id] %}
                <a type="button" id="likeButton-{{object.id}}" onclick="likeTweet('{{ object.get_absolute_url }}')" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-down"></i>  Unlike</a> 
              {% else %}
                <a type="button" id="likeButton-{{object.id}}" onclick="likeTweet('{{ object.get_absolute_url }}')" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</a> 
              {% endif %}
              <a type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    
      {% if is_paginated and page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
        <div class="d-flex justify-content-center" style="display:none;">
          <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
          </div>
        </div>
      {% endif %}

      

    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <hr class="w3-clear">

          <div>
              <p><strong>Session</strong></p>
              <p>Tuesday 15:00</p>
              <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
          </div>
          <hr class="w3-clear">

          <div>
              <p><strong>Concert</strong></p>
              <p>Friday 19:00</p>
              <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
          </div>
          
        </div>
      </div>
      <br>

      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Who to follow</p>
          <img src="{% static '/tweet/avatar6.png' %}" alt="Avatar" style="width:50%"><br>
          <span>Jane Doe</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>
    
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>
{% endblock content %}

{% block script %}
<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Create Tweet Page
function openCreateTweet() {
  window.location.href = "{% url 'tweet-create' %}"
}

function openDetailTweet(tweetUrl) {
  window.location.href = tweetUrl
}

function likeTweet(likeUrl){
  likeUrl = likeUrl + "/like/"

  $.ajax({
    url: likeUrl,
    method: 'GET',
    data: {},
    success: function(data) {
      console.log(data)
      likeCountId = "#likeCount-" + data.id
      $(likeCountId)[0].innerText = data.count + " likes"

      likeButtonId = "#likeButton-" + data.id
      if (data.like){
        $(likeButtonId)[0].innerHTML = '<i class="fa fa-thumbs-down"></i> &nbsp;Unlike'
      }
      else {
        $(likeButtonId)[0].innerHTML = '<i class="fa fa-thumbs-up"></i> &nbsp;Like'
      }
      
    },
    error: function(error){
      console.log(error)
    }
  })
}

</script>
{% endblock script %}