{% extends 'tweet/base_tweets.html' %}

{% block create-tweet %}
<div class="w3-row-padding">
  <div class="w3-col m12">
    <div class="w3-card w3-round w3-white">
      <div class="w3-container w3-padding" >
        <p onclick="openCreateTweet()" contenteditable="true" class="w3-border w3-padding">Status: Feeling Blue</p>
        <a type="button" class="w3-button w3-theme" href="{% url 'tweet-create' %}" ><i class="fa fa-pencil"></i>  Post</a> 
      </div>
    </div>
  </div>
</div>
{% endblock create-tweet %}
