{% extends 'tweet/base_tweets.html' %} {% block profile-section %}
<!-- Profile -->
<div class="w3-card w3-round w3-white">
    <div class="w3-container">
        <h4 class="w3-center">{{ view.kwargs.username }}</h4>
        <p class="w3-center">
            <img src="{{ tweets.0.author.profile.image.url }}" class="w3-circle" style="height: 106px; width: 106px" alt="Avatar" />
        </p>
        <div class="w3-center w3-text-theme">{{tweets.count}} Tweets</div>
        <p class="w3-center followdetails">
            <span>{{ profile.profile.get_followers_count }} Followers | </span>
            <span>{{ profile.profile.get_following_count }} Following</span>
        </p>
        {% if view.kwargs.username == user.username %}
        <a class="w3-button w3-block w3-theme-l4" href="{% url 'profile' %}">Edit</a>
        {% elif is_followed %}
        <a id="followButton" class="w3-button w3-block w3-theme-l4" onclick="followUser('{{ profile }}')" href="#">Unfollow</a>
        {% else %}
        <a id="followButton" class="w3-button w3-block w3-theme-l4" onclick="followUser('{{ profile }}')" href="#">Follow</a>
        {% endif %}
        <hr />
        <p>
            <i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> Designer,
            UI
        </p>
        <p>
            <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK
        </p>
        <p>
            <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>
            April 1, 1988
        </p>
    </div>
</div>
<br />
{% endblock %}