{% extends 'tweet/base.html' %}
{% load crispy_forms_tags%}
{% block content %}

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top: 10px;">    
  <!-- The Grid -->
  <div class="w3-row">
        
    <!-- Middle Column -->
    <div class="w3-col m12">
        <form method="POST" enctype="multipart/form-data" style="margin: 0 5px 0 5px;">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">User Account</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    <!-- End Middle Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>
{% endblock content %}
